// VARIABLES
$cp: #9c27b0; // p for primary, s for secondary
$cpl: #d05ce3;
$cpd: #6a0080;
$cop: #fff;
$copl: #000;

$s1: 400px;
$s2: 200px;
$s3: 100px;
$s4: 50px;

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Oxanium|Roboto&display=swap);

// Font Variables
$f1: 'Oxanium', serif;
$f2: 'Roboto', sans-serif;

// RESET
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: $f2;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: $f1;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3;
}

h1 {
  margin-bottom: $s4;
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
  color: $cop;
  background-color: $cpd;
  padding: 0 50px;
}

h3 {
  font-size: 1.5rem;
  margin: $s3 0 $s4;
  color: $cpd;
}

h3,
ul {
  padding: 0 50px;
}

button {
  font-family: $f2;
  border: none;
  background-color: transparent;
  color: $cop;
  cursor: pointer;
}

.col {
  border: 1px solid $cpd;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// CSS
.presentation {
  p {
    padding: 0 50px 50px;
  }
  iframe {
    display: block;
    margin: auto;
    margin-top: $s3;
    border-radius: 5px;
  }
}
@media screen and (min-width: '768px') {
  .presentation {
    iframe {
      width: 560px;
      height: 315px;
    }
  }
}
@media screen and (min-width: '1024px') {
  .presentation {
    .flexer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .txt {
        max-width: 500px;
      }

      iframe {
        margin-top: 0;
        margin-right: 50px;
      }
    }
  }
}
@media screen and (min-width: '1024px') {
  .presentation .flexer iframe {
    margin-right: 0;
  }
}

.header {
  padding: $s4;
  background-color: $cp;
  color: $cop;

  a {
    color: $cop;
  }

  h1 {
    font-size: 5rem;
  }

  ul {
    padding-left: 0;
    margin-bottom: $s4;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: $s2;
    justify-content: space-between;

    div {
      display: flex;
      justify-content: space-between;

      img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        border: 5px solid;
      }

      button {
        font-size: 1.5rem;
      }

      p {
        font-size: 2rem;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .container {
      flex-direction: row;
      min-height: 0;

      ul {
        margin-bottom: 0;
        li {
          margin: 10px 0;
        }
      }

      img {
        margin: 0 $s4;
      }
    }
  }
}

.wrapper {
  width: 100%;
  margin: 0 0;

  .del,
  .remove-asset {
    cursor: pointer;
  }

  .assets-and-graph,
  .history-and-graph {
    margin: $s1 0 $s2;

    button {
      cursor: pointer;
    }

    [data-eventid] {
      font-size: 1.3rem;

      .del {
        display: none;
        color: $cp;
      }
    }
    [data-eventid]:hover .del {
      display: inline;
    }
  }

  .assets-and-graph {
    margin-top: 0;

    .cpl {
      min-height: 100px;
      margin-top: $s2;
      padding: 50px;
      background-color: $cpl;

      button {
        font-size: 2rem;
      }
      button:hover {
        cursor: pointer;
      }
    }

    .add-asset {
      background-color: $cpl;
      min-height: $s2;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 200px;

        input {
          min-height: 50px;
          margin: 20px;
          border: none;
          border-radius: 3px;
          text-align: center;
          font-size: 1.5rem;
        }

        button {
          margin: 40px;
          font-size: 2rem;
        }
        button:hover {
          cursor: pointer;
        }
      }

      @media screen and (min-width: 1024px) {
        form {
          flex-direction: row;
        }
      }
    }
    h2 {
      margin: $s2 0 $s3;
    }

    ul.assets {
      li {
        min-height: 40px;
        margin-bottom: 40px;
        font-size: 1.3rem;
      }
    }

    .wallet-graph {
      //background-color: $cop;
    }
  }
  .history-and-graph {
    h2 {
      margin: $s2 0 $s3;
    }
    button {
      margin-bottom: $s3;
      color: $copl;
      font-size: 2rem;
    }

    canvas {
      margin-bottom: $s3;
    }

    ul {
      li {
        min-height: 40px;
        margin-bottom: 40px;
      }
    }
  }
}

li span.remove-asset {
  display: none;
  color: $cp;
}

li:hover span.remove-asset {
  display: inline;
}

@media screen and (min-width: 768px) {
  .history ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    // padding: 0;
    li {
      margin-bottom: 0 !important;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1366px) {
  .header {
    h1 {
      text-align: center;
    }

    .container {
      max-width: 1300px;
      margin: auto;
    }
  }

  .wrapper {
    max-width: 1300px;
    margin: auto;
  }
  canvas {
    width: 100%;
    margin-right: 0;
  }

  .flexer {
    display: flex;
    justify-content: space-between;

    h3,
    ul {
      padding-left: 0;
    }

    .box {
      margin-top: $s2;
      h2,
      h3 {
        margin-top: 0;
      }
    }
    .box:first-child {
      min-width: 390px;
    }
  }

  .add-asset,
  h2 {
    border-radius: 5px;
  }
}
